* {
    margin: 0;
    padding: 0;
    white-space: normal;
    scroll-behavior: smooth;
    cursor: default;
    font-size: 19px;
    font-family: "Figtree", "Open Sans";
}

::selection {
    color: #ffffff;
    background: #97d4c4;
}

::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #97d4c4;
}

.main {
    display: flex;
    flex-direction: row;
}

#aboutplaceholder, .about {
    min-width: 600px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
}

.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}

.section-header {
    font-weight: 900;
    font-size: 78px;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    background: #ffffff;
    width: 100%;
    z-index: 1;
}

.me-img {
    flex: 0 1 auto;
    margin-top: 35px;
    margin-bottom: 48px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% 15%;
}

.text {
    font-weight: 300;
    margin-top: 16px;
    line-height: 1.4em;
    color: #111111;
}

.paragraph-link {
    font-weight: 700;
    cursor: pointer;
}

.paragraph-link:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 22px;
}

.link {
    margin-left: 19px;
    margin-right: 19px;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
}

.link:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 4px;
}

.about-text {
    margin-top: 10px;
    margin-left: 50px;
    max-width: 500px;
}

.releases {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.release {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 21vw;
    min-height: 14vw;
    margin: 12px;
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
    transition: transform .18s;
    font-size: 2.75vw;
    font-weight: 900;
    text-align: center;
    border-color: #ffffff;
    border-radius: 200px;
    border-style: solid;
    border-width: 10px;
}

.release:hover {
    transform: scale(1.05);
    border-color: #c5c5ff;
    cursor: pointer;
}

.underline {
    text-decoration-line: underline;
}

.align-center {
    align-self: center;
    text-align: center;
}

.vl {
    border-left: 2px solid;
    height: 350px;
    border-radius: 1px;
    margin-left: 40px;
    margin-right: 40px;
}

.margin-bottom {
    margin-bottom: 1em;
}


#hearthstone {
    background-image: url('./images/hearthstone-logo.jpeg');
}

#dracomaton {
    background-image: url('./images/dracomaton-logo.png');
}

#acquiesce {
    background-image: url('./images/acquiesce-logo.png');
}

#your-personal-photon {
    background-image: url('./images/your_personal_photon.png');
}

#escher-worldgen {
    background-image: url('./images/escher-worldgen2.png');
    color: #ffffff;
}

#chaotic-concoction {
    background-image: url('./images/chaotic-concoction.png');
}

#asterion {
    background-image: url('./images/asterion.png');
}

#distracction {
    background-image: url('./images/distracction.png');
}

#flock-together {
    background-image: url('./images/flock-together.png');
    color: #333333;
}

#pewpew {
    background-image: url('./images/pewpew.png');
}

#froggo {
    background-image: url('./images/froggo.png');
    font-family: "Courier New";
    color: white;
}

#stay-sane {
    background-image: url('./images/stay-sane.jpg');
}

#shuffle-city {
    background-image: url('./images/shuffle-city-logo.png');
}

#in-a-flash {
    background-image: url('./images/in-a-flash-logo-standalone.png');
}

#sscl {
    background-image: url('./images/sscl_2.png');
    color: #ffffff;
}

#queer-spacetime {
    background-image: url('./images/queer_time.png');
    color: #972486;
}

#fling-fleet {
    background-image: url('./images/fling-fleet.png');
    color: #eeeeee;
    font-family: "Open Sans Condensed";
    font-size: 50px;
}



ul {
    margin-left: 30px;
}

li {
    line-height: 1.4em;
    color:#111111;
}

a {
    text-decoration: none;
    text-decoration-color: inherit;
    color: inherit;
}

hr {
    border: 1px solid;
    border-radius: 1px;
}



/* activates when games stack */
@media only screen and (max-width:1240px) {
    .release {
        width: 38vw;
        min-height: 13vw;
        font-size: 3.5vw;
    }
    #hearthstone {
        background-position-y: 50%;
    }
    #pewpew {
        background-position-y: 38%;
    }
    #stay-sane {
        background-position-y: 45%;
    }
    #your-personal-photon {
        background-position-y: 45%;
    }
    #chaotic-concoction {
        background-position-y: 45%;
    }
    #asterion {
        background-position-y: 60%;
    }
    #sscl {
        background-position-y: 0%;
    }
    #escher-worldgen {
        background-position-y: 0%;
    }
    #in-a-flash {
        background-position-y: 50%;
    }
    #shuffle-city {
        background-size: 160%;
        background-position-y: 50%;
    }
}

/* activates mobile version */
@media only screen and (max-width:1074px) {
    .main {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .games {
        margin-top: 25px;
    }
    .release {
        width: 60vw;
        min-height: 20vw;
        font-size: 4vw;
    }
    #aboutplaceholder, .about {
        position: relative;
        min-width: 0;
    }
    .about-text {
        max-width: 540px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #shuffle-city {
        background-size: 150%;
        background-position-y: 50%;
    }
}

/* activates "short window" version to scroll about section */
@media (max-height:768px) {
    #aboutplaceholder, .about {
        position: relative;
    }
    #aboutplaceholder {
        min-width: 0;
    }
}