* {
  margin: 0;
  padding: 0;
  position: absolute;
  white-space: normal;
}

#welcome {
  position: fixed;
  top: 4vw;
  left: 81vw;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 4vw;
  line-height: 4.2vw;
  white-space: pre-line;
  color: #333333;
}

#me {
  position: fixed;
  left: 81vw;
  top: 16vw;
  height: 13vw;
  width: 13vw;
  border-radius: 50%;
  box-shadow: 10px 10px 0px #aaaaaa;
}

.a_img {
  top: 12vw;
  left: 34vw;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  box-shadow: 10px 10px 0px #aaaaaa;
}

.img1 {
  left: 1.5vw;
}

.img2 {
  top: 25vw;
}

.img3 {
  top: 41vw;
  left: 1.5vw;
}
.img4 {
  top: 57vw;
}

.button {
  position: fixed;
  text-align: center;
  vertical-align: middle;
  line-height: 8vw;
  font-family: "Oswald", sans-serif;
  font-size: 1.7vw;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 10px 10px 0px #aaaaaa;
  left: 4vw;
  width: 8vw;
  height: 8vw;
  transition: transform 0.18s, background 0.18s, color 0.18s, box-shadow 0.18s;
}

.button:hover {
  transform: scale(1.25);
  box-shadow: 20px 20px 0px #aaaaaa;
}

#button0 {
  top: 15vh;
  border: 4px solid #f8615a;
  color: #f8615a;
  animation-name: button0_a;
  animation-duration: 1.5s;
}

#button0:hover {
  background: #f8615a;

  color: #ffffff;
}

@keyframes button0_a {
  0% {
    left: -10vw;
  }

  60% {
    left: -10vw;
  }

  80% {
    left: 6vw;
  }

  100% {
    left: 4vw;
  }
}

#button1 {
  top: 41vh;
  border: 4px solid #b80d57;
  color: #b80d57;
  animation-name: button1_a;
  animation-duration: 1.7s;
}

#button1:hover {
  background: #b80d57;
  color: #ffffff;
}

@keyframes button1_a {
  0% {
    left: -10vw;
  }

  60% {
    left: -10vw;
  }

  80% {
    left: 6vw;
  }

  100% {
    left: 4vw;
  }
}

#button2 {
  top: 68vh;
  border: 4px solid #721b65;
  color: #721b65;
  animation-name: button2_a;
  animation-duration: 1.9s;
}

#button2:hover {
  background: #721b65;
  color: #ffffff;
}

@keyframes button2_a {
  0% {
    left: -10vw;
  }

  60% {
    left: -10vw;
  }

  80% {
    left: 6vw;
  }

  100% {
    left: 4vw;
  }
}

#menu_block {
  position: fixed;
  top: -5px;
  left: -20px;
  background-color: #ffffff;
  height: 105vh;
  width: 18vw;
}

#main_block {
  position: fixed;
  top: -5px;
  left: 0px;
  height: 105vh;
  width: 75vw;
}

.superdiv {
  position: absolute;
  left: 24vw;
  top: 3vw;
  width: 45vw;
}

#aboutdiv {
  opacity: 1;
}

#resumediv {
  display: none;
}

#resume {
  top: 11vw;
  width: 45vw;
}

#portfoliodiv {
  display: none;
}

.subh {
  font-family: "Oswald";
  font-weight: 900;
  font-size: 5.5vw;
}

.portfolioh {
  position: relative;
  top: 11vw;
  font-family: "Oswald";
  font-weight: 900;
  font-size: 3vw;
  color: #333333;
}

.subp {
  position: relative;
  font-family: "Open Sans", monospace;
  font-size: 1.1vw;
  top: 11vw;
  margin-bottom: 1vw;
}

.subp_a {
  position: relative;
  font-family: "Open Sans", monospace;
  font-size: 1.1vw;
  top: 15vw;
  left: 15vw;
  width: 30vw;
  margin-bottom: 6vw;
}

.a2 {
  left: 0vw;
}

.my_links {
  position: fixed;
  left: 85vw;
  top: 32.5vw;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2vw;
  color: #333333;
}

ul {
  position: relative;
  left: 50px;
  top: 13vw;
  width: 40vw;
  font-family: "Open Sans", monospace;
  font-size: 1.1vw;
  margin-bottom: 5vw;
}

li {
  position: relative;
  margin-bottom: 1.5em;
  white-space: pre-line;
}

a {
  white-space: pre;
  text-decoration: none;
  font-weight: bold;
}

b {
  background-color: transparent;
}

.jump-to {
  position: relative;
  left: 40vw;
  width: 8vw;
  padding-left: 0px;
  transition: padding 0.18s;
}

.jump-to:hover {
  padding-left: 0.5vw;
}

.sjump {
  top: 3vw;
}

.wjump {
  top: 6vw;
}

.jump-text {
  width: 8vw;
  font-family: "Oswald";
  font-size: 1.75vw;
  font-weight: 900;
  text-align: right;
}

.references {
  top: 2vw;
  left: 37vw;
}

.color1 {
  color: #f8615a;
}

.color2 {
  color: #b80d57;
}

.color3 {
  color: #721b65;
}

@media only screen and (max-width: 1280px) {
  .superdiv {
    top: 150px;
    left: 10vw;
  }

  #menu_block {
    top: -5px;
    left: -20px;
    height: 125px;
    width: 105vw;
    animation: none;
  }

  #main_block {
    top: 120px;
    width: 100vw;
    animation: none;
  }

  #aboutdiv {
    opacity: 1;
    animation: none;
  }

  .button {
    font-size: 50px;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    left: 10vw;
    width: fit-content;
    line-height: 65px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button:hover {
    box-shadow: none;
  }

  #button0 {
    top: 25px;
    animation: none;
  }

  #button1 {
    top: 25px;
    left: 38vw;
    animation: none;
  }

  #button2 {
    top: 25px;
    left: 68vw;
    animation: none;
  }

  .subh {
    font-size: 100px;
    width: 80vw;
  }

  .subp_a {
    font-size: 24px;
    left: 200px;
    top: 210px;
    width: 55vw;
    margin-bottom: 6vw;
  }

  .jump-to {
    left: 550px;
    width: 200px;
  }

  .sjump {
    top: 55px;
  }

  .wjump {
    top: 110px;
  }

  .jump-text {
    width: 200px;
    font-size: 40px;
  }

  .portfolioh {
    top: 200px;
    font-size: 48px;
  }

  ul {
    top: 250px;
    width: 75vw;
    font-size: 24px;
    margin-bottom: 6em;
  }

  .a_img {
    top: 200px;
    left: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 25px #aaaaaa;
  }

  .img2 {
    top: 450px;
  }

  .img3 {
    top: 700px;
  }

  .img4 {
    top: 950px;
  }

  #resume {
    top: 200px;
    width: 80vw;
  }

  .references {
    top: 50px;
    left: 400px;
    font-size: 32px;
    width: 150px;
  }
}
